LDAP_URI=ldap://ldap.physik.tu-dortmund.de
LDAP_STARTTLS=true
# leave unset for anonymous bind
# LDAP_BIND_DN=
# LDAP_BIND_PW=
LDAP_GROUP_BASE="ou=groups,dc=physik,dc=tu-dortmund,dc=de"
LDAP_USER_BASE="ou=people,dc=physik,dc=tu-dortmund,dc=de"

# set if you want to filter allowed users / groups respectively
# LDAP_USER_FILTER=""
# LDAP_GROUP_FILTER=""


# set if you want to use subgroups following the hierarchy of the ldap groups
# WARNING: as of gitlab 12.9 all members of parent groups are members of child groups
# this is probably not what you want if you use ldap group trees.
# CREATE_SUBGROUPS=

# GITLAB AUTH
GITLAB_TOKEN=
GITLAB_URL=https://git.e5.physik.tu-dortmund.de
